<li>
  <%= gravatar_for user, :size => 150 %>
  My name is: &nbsp;<b><%= link_to user.name, user %></b>
  <!--<%= user.email %>--> 
  <br>
  Year in college:   &nbsp;  <b><%= user.year %></b>
  <br>
  Major/Concentration:    &nbsp; <b><%= user.major %></b> 
  <br>
  Books I'm selling:  &nbsp;   <b><%= user.books_sell %></b> 
  <br>
  Books I'd buy:   &nbsp;  <b><%= user.books_buy %></b> 
  <br>
  Facebook:   &nbsp;  <b><%= user.facebook %></b> 
  <br>
  I love eating at:  &nbsp;   <b><%= user.restaurants %></b>
  <br>
  Clubs/Activities/Interests:  &nbsp;   <b><%= user.interests %></b>
  <% if current_user.admin? %>
  | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
        
  <% end %>
</li>
