<div summary="Information about following/followers">
  <tr>
    <td class="main">
      <h1><%= @title %></h1>
        <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Blurbs</strong> <%= @user.microposts.count %>   
            <%= render 'shared/stats' %>
             <% unless @users.empty? %>
             <% @users.each do |user| %>
             <%= link_to gravatar_for(user, :size => 45), user %>
        <% end %>
        <p>
        <br>
        <br>
      <% unless @users.empty? %>
        <ul class="users">
          <%= render @users %>
        </ul>
        <%= will_paginate @users %>
      <% end %>
    </td>
    <td class="sidebar round">
    
      <% end %>
    </td>
  </tr>
</div>
