<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h3 class="micropost">What's going on?</h3>
        <%= render 'shared/micropost_form' %>
                <h3 class="micropost">Newsfeed</h3>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
     <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>
<% else %>

 <div class="hero-unit">
          <h1>Hello Cal Poly Pomona!</h1>
          <p>
          <p>Need a way to sell/buy your books affordably?
          <p>
          Let's face it, books are expensive and it's a scam that publishers release a more "updated" book
          each year or quarter even. Help each other out and list things you need or are willing to sell.
          Tell your friends about it!
          Oh, and the service we provide is completely <strong>FREE</strong>.<br>
          Sign up with your <i><strong>csupomona.edu</strong></i> email address to begin!
          </p>
        <br>
          <p><a> <%= link_to "Sign up now!", signup_path, :class=>"btn primary large" %> </a></p>
          
          - OR -
          <hr />
          
           <signin>
           <%= form_for(:session, :url => sessions_path) do |f| %>
           	<div class="field">
           		<%= f.label :email %><br />
           		<%= f.text_field :email %>
           	</div>
           	<div class="field">
           		<%= f.label :password %><br />
           		<%= f.password_field :password %>
           	</div>
           	<div>
           		<%= f.submit "Sign in", :class => "btn primary" %>
           	</div>
           	<% end %>
           	</signin>
           </div>
<% end %>
